{% extends "base.html" %}
{% load static from staticfiles %}
{% load global_tags %}
{% load i18n %}

{% block title %}LoadingPoint List{% endblock title %}

{% block content %}
<div class="left-sidebar">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
            	<div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Loading Points
                    </div>
                    <div class="tools pull-right">
                      <a class="btn btn-small" aria-hidden="true"  href="{% url "source_create" %}" data-original-title="">
                      	<i class="icon-plus" data-original-title="Add Loading Point"> </i>
                      </a>
                    </div>
                  </div>
                <div class="widget-body">
                <div id="dt_example" class="example_alt_pagination">
                <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                	<thead>
                    <tr>
                        <th>Loading Point</th>
                        <th>Taken from Loading Point</th>
                        <th>Is Destination</th>
                        <th>Requires Reference Number</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lp in source_list %}
                    <tr>
                        <td><i class="icon-list-alt"></i> <a href="{% url 'source_details' lp.id %}" class="see">{{lp.name}}</a></td>
                        <td>{{lp.ammount_taken}} T </td>
                        <td>{{lp.is_destination|boolean_icon}} </td>
                        <td>{{lp.requires_reference|boolean_icon}} </td>
                        <td>
                           <div class="btn-group">
                              <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                Action
                                <span class="caret">
                                </span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a href="{% url "source_update" lp.id %}">
                                    {% trans "Edit" %}
                                  </a>
                                </li>
                                <li>
                                  <a href="{% url "source_delete" lp.id %}">
                                    {% trans "Delete" %}
                                  </a>
                                </li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal hide" id="viewLP"></div>
{% endblock %}


{% block footer_scripts %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script type="text/javascript">
//Data Tables
$(document).ready(function () {
  $('#data-table').dataTable({
    "sPaginationType": "full_numbers"
  });
});

$(".see").click(function(ev) { // for each see a
    ev.preventDefault(); // prevent navigation
    var url = $(this).attr("href"); // get the view url
    console.log(url);
    $("#viewLP").load(url, function() { // load the url into the modal
        $(this).modal('show'); // display the modal on url load
    });
    return false; // prevent the click propagation
});
</script>
{% endblock %}