{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}Haulier List{% endblock title %}

{% block content %}
<div class="left-sidebar">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
            	<div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Hauliers
                    </div>
                    <div class="tools pull-right">
                      <a class="btn btn-small" aria-hidden="true" href="{% url "haulier_create" %}" data-original-title="">
                      	<i class="icon-plus" data-original-title="Add Haulier"> </i>
                      </a>
                    </div>
                  </div>
                <div class="widget-body">
                <div id="dt_example" class="example_alt_pagination">
                <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                	<thead>
                    <tr>
                        <th>Haulier Name</th>
                        <th>Contact Person</th>
                        <th>Phone</th>
                        <th>E-Mail</th>
                        <th>City</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for haulier in haulier_list %}
                    <tr>
                        <td><i class="icon-list-alt"></i> <a href="{% url 'haulier_details' haulier.id %}" class="see">{{haulier.name}}</a></td>
                        <td>{{haulier.contact_person}} </td>
                        <td>{{haulier.phone_number}} </td>
                        <td>{{haulier.email}} </td>
                        <td>{{haulier.city}} </td>
                        <td>
                           <div class="btn-group">
                              <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                Action
                                <span class="caret">
                                </span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a href="{% url 'haulier_update' haulier.id %}">
                                    {% trans "Edit" %}
                                  </a>
                                </li>
                                <li>
                                  <a href="{% url 'haulier_delete' haulier.id %}">
                                    {% trans "Delete" %}
                                  </a>
                                </li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal hide" id="viewHaulier"></div>
{% endblock %}


{% block footer_scripts %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script type="text/javascript">
//Data Tables
$(document).ready(function () {
  $('#data-table').dataTable({
    "sPaginationType": "full_numbers"
  });
});

$(".see").click(function(ev) { // for each see a
    ev.preventDefault(); // prevent navigation
    var url = $(this).attr("href"); // get the view url
    console.log(url);
    $("#viewHaulier").load(url, function() { // load the url into the modal
        $(this).modal('show'); // display the modal on url load
    });
    return false; // prevent the click propagation
});
</script>
{% endblock %}