{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load static from staticfiles %}
{% load global_tags %}

{% block title %}Vehicle List{% endblock title %}

{% block content %}
<div class="left-sidebar">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
            	<div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Vehicles
                    </div>
                    <div class="tools pull-right">
                      <a class="btn btn-small" aria-hidden="true" href="{% url "vehicle_create" %}" data-original-title="">
                      	<i class="icon-plus" data-original-title="Add Vehicle"> </i>
                      </a>
                    </div>
                  </div>
                <div class="widget-body">
                <div id="dt_example" class="example_alt_pagination">
                <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                	<thead>
                    <tr>
                        <th>Plate Number</th>
                        <th>Driver Name</th>
                        <th>Max Gross</th>
                        <th>Vehicle Reference Number</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehicle in vehicle_list %}
                    <tr>
                        <td><i class="icon-list-alt"></i> <a href="{% url "vehicle_details" vehicle.id %}" class="see">{{vehicle.code}}</a></td>
                        <td>{{vehicle.driver_name}}</td>
                        <td>{{vehicle.max_gross}} </td>
                        <td class="text-center">{{vehicle.reference_number|boolean_icon}} </td>
                        <td class="text-center">
                           <div class="btn-group">
                              <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                Action
                                <span class="caret">
                                </span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a href="{% url "vehicle_update" vehicle.id %}">
                                    {% trans "Edit" %}
                                  </a>
                                </li>
                                <li>
                                  <a href="{% url "vehicle_delete" vehicle.id %}" class="delete-row">
                                    {% trans "Delete" %}
                                  </a>
                                </li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal hide" id="viewVehicle"></div>
{% endblock %}


{% block footer_scripts %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script type="text/javascript">
//Data Tables
$(document).ready(function () {
  $('#data-table').dataTable({
    "sPaginationType": "full_numbers"
  });
});

$(".see").click(function(ev) { // for each see a
    ev.preventDefault(); // prevent navigation
    var url = $(this).attr("href"); // get the view url
    console.log(url);
    $("#viewVehicle").load(url, function() { // load the url into the modal
        $(this).modal('show'); // display the modal on url load
    });
    return false; // prevent the click propagation
});
</script>
{% endblock %}