{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        {% if form.errors %}
        <span class="alert error-alert">Username or Password are Invalid. Please try again.</span>
        {% endif %}
        {% load url from future %}
        <form method="post" action="{% url 'django.contrib.auth.views.login'%}" class="well form-inline">
            {% csrf_token %}
            <input type="text" class="input-small" placeholder="Username" name="username">
            <input type="password" class="input-small" placeholder="Password" name="password">
            <label class="checkbox">
                <input type="checkbox"> Remember on this PC 
            </label>
            <button type="submit" class="btn">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}